/* reset */
@import url(reset.css);
/* fonts */

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-1 : rgba(53, 191, 177, 1);
    --color-2 : rgba(2, 140, 115, 1);
    --color-3 : rgba(2, 114, 94, 1);
    --color-4 :rgba(1, 63, 52, 1);
    --color-5 : rgba(12, 12, 12, 1);

  
    --font-weight-bold : 700;
    --font-weight-semi-bold : 500;
    --font-weight-light : 300;
  
    --border-radius : 8px;
  
    --animation-duration : 300ms;
  
    --cursor-pointer : pointer;
  }

html {
    font-size : 16px;
}

body {
    background-color: var(--color-3);
}

#navbar {
    position: relative;
    background-color: var(--color-5);
    color: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.nav_title {
    cursor: var(--cursor-pointer);
    transition: var(--animation-duration) all;
}

.nav_title:hover {
    color: var(--color-1);
}

.nav_title h1 {
    font-size : 1.5rem
}

.nav_title h1 span {
    margin-left: 1rem;
}

.nav_menu, .nav_links {
    display: flex;
    align-items: center;
}

.nav_menu_items, .nav_links_items {
    display: block;
    padding: .5rem;
    margin: .25rem;
    font-weight: 700;
    cursor: var(--cursor-pointer);
    transition: var(--animation-duration) all;
}

.nav_links_items {
    font-size: 1.25rem;
}

.nav_menu_items:hover, .nav_links_items:hover {
    color: var(--color-1);
    transform: scale(1.05);
}

.nav_menu.show, .nav_links.show {
    display: flex;
}

.toggle_btn {
    display: none;
    position: absolute;
    right: 2.5%;
    border: none;
    outline: none;
    padding: .5rem;
    background-color: transparent;
    color: var(--color-3);
    cursor: var(--cursor-pointer);
    font-size: 1.5rem;
    transition: var(--animation-duration) all;
}

.toggle_btn:hover {
    color: var(--color-1);
    transform: scale(1.05);
}

@media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
    #navbar {
        flex-direction: column;
    }
    .nav_menu {
        display: none;
        margin: 2rem;
        width: 100%;
        flex-direction: column;
    }
    .nav_menu_items {
        width: 100%;
        text-align: center;
        margin: .5rem;
    }
    .nav_links {
        display: none;
    }
    .toggle_btn {
        display: block;
        top: 1rem;
    }
}